# Configuración del servidor
PORT=3000
PUBLIC_URL=http://localhost:3000
NODE_ENV=development

# MongoDB Atlas
# Formato: mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<database>
DB_URI=tu_mongodb_uri_aqui

# Autenticación (JWT)
JWT_SECRET_ACCESS=tu_clave_secreta_para_access_token
JWT_EXPIRES_IN=15m

# (Añade esta cuando implementemos el refresh)
JWT_SECRET_REFRESH=tu_clave_secreta_para_refresh_token
JWT_REFRESH_EXPIRES_IN=7d

# URL de slack
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ

# API key Cloudinary
CLOUDINARY_CLOUD_NAME=tu_nombre_de_cloudinary
CLOUDINARY_API_KEY=tu_api_key_de_cloudinary
CLOUDINARY_API_SECRET=-tu_api_secret_key_de_cloudinary

# SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM=BildyApp <no-reply@bildy.app>